:root {
    --real_black: #000;
}

.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.comic-relief-bold {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Comic Relief", system-ui;
    font-size: 1.5rem;
    text-align: center;
}

h1 {
    text-decoration: underline;
    color: green;
}

li {
    display: inline;
}

nav>ul>li>a {
    color: yellow !important;
    text-decoration: none;
}

nav>ul {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.gridItem {
    grid-column: 1 / -1;
}

nav {
    grid-row: 1 / 2;
    background-color: var(--real_black);
}

header {
    grid-row: 2 / 3;
}

footer {
    grid-row: 4 / 5;
    background-color: gray;
    margin-top: 1.5rem;
}

section {
    grid-row: 3 / 4;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.flexItem {
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
}

figure {
    background-color: blueviolet;
}

figure>p {
    text-decoration: underline;
}

#section_biografia {
    background-color: white;
}

#section_biografia * {
    color: var(--real_black);
}

#section_biografia>:nth-child(even) {
    background-color: yellow;
}

#section_biografia>:nth-child(odd) {
    background-color: greenyellow;
}

#btn_send {
    background-color: green;
    color: white;
    display: inline;
}

#btn_reset {
    background-color: red;
    color: white;
    display: inline;
}

#field_interesado {
    background-color: aqua;
}

#field_contacto {
    background-color: aquamarine;
}

#descripcion {
    width: 75%;
}

/*
===============================================
INICIO PANTALLA TAMAÑO MEDIO
===============================================
*/

@media screen and (min-width: 768px) {

    body {
        font-size: 1.2rem;
    }

    h1 {
        text-decoration: underline;
        color: greenyellow;
    }

    li {
        display: inline;
    }

    nav>ul>li>a {
        color: aqua;
    }

    nav>ul {
        flex-direction: row;
    }

    footer {
        background-color: gray;
    }

    .flexContainer {
        justify-content: space-around;
        gap: 2rem;
    }

    #biografia {
        text-align: left;
    }

    #contacto {
        text-align: center;
    }

    #portfolio {
        text-align: right;
    }

}

/*
===============================================
FIN PANTALLA TAMAÑO MEDIO
===============================================
*/


/*
===============================================
INICIO PANTALLA TAMAÑO INTERMEDIO
===============================================
*/
@media screen and (min-width:992px) {
    .flexContainer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

/*
===============================================
FIN PANTALLA TAMAÑO INTERMEDIO
===============================================
*/


/*
===============================================
INICIO PANTALLA TAMAÑO GRANDE
===============================================
*/

@media screen and (min-width: 1200px) {

    body {
        font-size: 0.8rem;
    }

}

/*
===============================================
FIN PANTALLA TAMAÑO GRANDE
===============================================
*/